<div class="container read">

  <div class="panel panel-primary">
    <div class="panel-heading">
      <h3 class="panel-title"><%= @author.name %></h3>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Bio</h3>
    </div>
    <div class="panel-body">
      <%= @author.bio %>
    </div>
  </div>

  <%= render partial: 'layouts/comics', locals: {comics: @author.comics} %>



  <%= render partial: 'layouts/novels', locals: {novels: @author.novels} %>

</div>

