# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rails secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: b426a0a998f3a67c99fe3db81a27bc2a1e8e8c088d92cb9aa65e55308ccaf4d516f8918771da1bbecb2fdbe0cdc5330e5cb31ef2ac587d80aae90e01035dc14f

test:
  secret_key_base: 5ad470689cebdf6e6fe7aaeb119d0c858c8a6d322ebe84288fd1810137d9ad83674bda87ae826cff5984e0a15028129715fd6edc8f1d843e882975f8358dc6fa

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
