/*********** css for header *****************/
.header-container {
    width: 1000px;
    margin: 0 auto;
}

.header-container .logo {
    line-height: 50px;
    font-size: 25px;
}

.search-bar {
    margin-top: 6px;
}

.search-bar select[name="category"] {
    background-color: white;
    height: 36px;
    border: 1px solid #ccd0d2;
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
    font-size: 14px;
    width: auto;
    margin-bottom: 0px;
}

.filter-holder {
    position: relative;
    white-space: nowrap;
    font-size: 15px;
}

.input-search {
    padding: 7px 12px;
}

.search-button {
    font-size: 16px;
}

.no-left-padding {
    padding-left: 0px;
}

.my-hidden {
    display: none;
}